<div>
    <label>Approve Leave Form</label>
    &nbsp;
    <button (click)="saveForm()">Save Form</button>
</div>
&nbsp;
&nbsp;

<div>
    <div>
        <label>Name: </label>
        <input readonly />
    </div>
    &nbsp;
    <div>
        <label>Days: </label>
        <input readonly />
    </div>
    &nbsp;
    <div>
        <label>Remarks: </label>
        <input />
    </div>
    &nbsp;
    <div>
        <button (click)="approveLeave()">Approve leave</button>
        &nbsp;
        <button (click)="approveLeave()">Reject leave</button>
    </div>

    &nbsp;
    <div>
        <button (click)="saveForm()">Save Form</button>
    </div>
</div>