<div style="text-align:center">
  <h1>
    Welcome to Apply Leave Workflow
  </h1>
</div>

<div *ngIf="!isLoggedIn">Trying to Logging in</div>
<div *ngIf="isLoggedIn">
  <label for="workflows">Select Workflow</label>
  &nbsp;
  <select id="selected-workflow" type="text" [(ngModel)]="selectedWorkflow" (change)="onSelectedWorkflowChanged()">
    <ng-template ngFor let-workflow [ngForOf]="workflows" let-roleIndex="workflowIndex">
      <option [ngValue]="workflow">{{workflow.name}}</option>
    </ng-template>
  </select>
</div>

&nbsp;
<div *ngIf="isLoggedIn">
  <nav>
    <a routerLink="/apply-leave-form" routerLinkActive="active">Apply leave form</a>
    &nbsp;
    &nbsp;
    <a routerLink="/approve-leave-form" routerLinkActive="active">Approve/Reject leave form</a>
    &nbsp;
    &nbsp;
    <a routerLink="/dynamic-form" routerLinkActive="active">Dynamic form</a>
    &nbsp;
  </nav>
</div>
<br>
<router-outlet></router-outlet>